<div class="mmz-guidelines">

    <div id="mt-guidelines"></div>
    <div id="mt-guidelines-bpm">
<!--        <div id="mt-guidelines-bpm-1" class="mt-card mt-card-simple-emphasis">-->
<!--            <div>Zone 1</div>-->
<!--            <div>Echauffement</div>-->
<!--            <div>-->
<!--                <div>50</div>-->
<!--                <div>60</div>-->
<!--            </div>-->
<!--        </div>-->
    </div>


</div>
<style>

</style>



<!--<section class="hearts">-->
<!--    -->
<!--    <div class="cardio_design">-->
<!--        <div class='cardio' ng-repeat="cardio in intervalle" ng-class="cardio.zone">-->
<!--            <span>{{cardio.label}}</span>-->
<!--            <div class="cardioPourcent" >-->
<!--                <div ng-repeat="po in cardio.pourcent.bpm"  ng-class="cardio.zone">-->
<!--                    {{po}}%-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="data">-->
<!--                <div ng-repeat="p in cardio.pourcent.bpm" class="alignBottom">-->
<!--                    <div ng-show="isNumber(p)">-->
<!--                        {{bpmMax*p/100 | number:0}}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <h3>Références vma</h3>-->
<!--    <div class="cardio_parameter">-->
<!--        <div class="parameter">-->
<!--            <label for="bpmMax"> VMA : </label>-->
<!--            <input type="text" ng-model="vma.max"/> le {{vma.date}}-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="cardio_design">-->
<!--        <div class='cardio' ng-repeat="cardio in intervalle" ng-class="cardio.zone">-->
<!--            <span>{{cardio.label}}</span>-->
<!--            <div class="cardioPourcent" >-->
<!--                <div ng-repeat="po in cardio.pourcent.vma"  ng-class="cardio.zone">-->
<!--                    {{po}}%-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="data">-->
<!--                <div ng-repeat="p in cardio.pourcent.vma" class="alignBottom">-->
<!--                    <div ng-show="isNumber(p)">-->
<!--                        {{vma.max*p}}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->